body{
    padding: 50px;
    background-color: #330101 ;

}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background: wheat;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.form-group{
    margin-bottom: 30px;
}